################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lab_4/Vibori/.vs/Vibori/v15/Server/sqlite3
