################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/LogicalIntMachine.Net/.vs/LogicalIntMachine.Net/v15/Server/sqlite3
